[project]
name = "rpm-lockfile-prototype"
version = "0.1.0"
description = ""
authors = [
    {name = "Lubomír Sedlář", email = "lsedlar@redhat.com"},
]
readme = "README.md"
dependencies = [
    "dnf",
    "jsonschema",
    "productmd",
    "pyyaml",
    "requests",
]

[tool.setuptools]
packages = ['rpm_lockfile']

[project.scripts]
rpm-lockfile-prototype = "rpm_lockfile:main"


[build-system]
requires = ["setuptools >= 61.0"]
build-backend = "setuptools.build_meta"

[project.entry-points."rpm_lockfile.content_origins"]
repos = "rpm_lockfile.content_origin.repos:RepoOrigin"
repofiles = "rpm_lockfile.content_origin.repofiles:RepofileOrigin"
composes = "rpm_lockfile.content_origin.composes:ComposeOrigin"
